
.container {
    height: 100%;
}

@media (max-width: 425px) {

    .container {
        padding: 0px !important;
    }

    .row {
        margin: 0px !important;
    }
}

figure,
ul,
h1, h2, h3, h4, h5, h6,
p {
    margin: 0px;
    padding: 0px;
}

a {
    color: #000;
}

a:hover,
button:hover {
    cursor: pointer !important;
    text-decoration: none !important;
    color: inherit !important;
}

[data-ajax-loader] {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

[data-ajax-loader].view {
    display: block;
}

[data-ajax-loader] > div {
    width: 2em;
    height: 2em;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    pointer-events: none;
    border: 1em solid transparent;
    border-top-color: #00a5ab;
    border-radius: 50%;
    color: #757575;
    animation: 1s loader linear infinite;
    -webkit-animation: 1s loader linear infinite;
}

[data-ajax-loader] > div:before {
    width: inherit;
    height: inherit;
    top: -1em;
    left: -1em;
    position: absolute;
    display: block;
    content: '';
    border: 1em solid #bdbdbd;
    border-radius: 50%;
    opacity: 0.6;
}

@-webkit-keyframes loader {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

/*  */

header.menu {
    width: 100%;
    height: 50px;
    position: fixed;
    padding: 0px 50px;
    box-sizing: border-box;
    transition: 400ms;
    z-index: 99;
}

header.menu.down {
    background-color: #000;
}

header.menu::after {
    content: '';
    display: block;
    clear: both;
}

@media (max-width: 425px) {

    header.menu {
        display: none;
    }
}

header.menu > nav {
    width: auto;
    height: 100%;
}

header.menu > nav:first-child {
    float: left;
}

header.menu > nav:last-child {
    float: right;
}

header.menu > nav > ul,
header.menu > nav > ul > li,
header.menu > nav > ul > li > a {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

header.menu > nav > ul > li > a {
    color: #fff;
}

header.menu > nav:first-child > ul > li > a {
    padding-right: 50px;
    font-size: 18px;
}

header.menu > nav:last-child > ul > li > a {
    padding-left: 30px;
    font-size: 16px;
}

header.menu > nav > ul > li > a:hover {
    color: #fff !important;
}

header.menu > nav:last-child > ul > li > a > i {
    font-size: 18px;
    margin-right: 10px;
}

header.menu > nav:last-child > ul > li > a > img {
    width: auto;
    height: 15px;
    border-radius: 2px;
}

/*  */

header.mobile {
    display: none;
}

@media (max-width: 425px) {

    header.mobile {
        width: 100%;
        height: 50px;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #000;
        z-index: 99;
    }

    header.mobile > a,
    header.mobile > nav > a {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header.mobile > a {
        color: #fff;
    }

    header.mobile>nav>a {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    header.mobile > nav {
        width: 300px;
        position: fixed;
        top: 0px;
        right: -300px;
        bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
        box-sizing: border-box;
        background-color: #fff;
        transition: 400ms;
    }

    header.mobile > nav.open {
        right: 0px;
    }

    header.mobile > nav > ul,
    header.mobile > nav > ul > li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    header.mobile > nav > ul > li > a {
        margin-bottom: 20px;
    }

    header.mobile > nav > ul > li:last-child > a {
        margin-bottom: 0px;
    }
}

/*  */

main.products > section.home,
main.cart > section.home,
main.contact > section.home,
main.about > section.home {
    width: 100%;
    height: 50px;
    background-color: #000;
}

/*  */

main.home > section.new_arrivals,
main.home > section.we_recommend_you,
main.home > section.our_specialities,
main.products > section.filters,
main.products > section.products,
main.cart > section.cart,
main.cart > section.total,
main.contact > section.contact,
main.contact > section.social_media,
main.about > section.about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

@media (max-width: 425px) {

    main.contact > section.social_media {
        flex-direction: column;
    }
}

main.home > section.new_arrivals,
main.home > section.we_recommend_you,
main.home > section.our_specialities,
main.products > section.filters,
main.products > section.products,
main.cart > section.cart,
main.cart > section.total,
main.contact > section.contact,
main.about > section.about {
    flex-direction: column;
}

main.home > section.new_arrivals,
main.home > section.we_recommend_you,
main.home > section.our_specialities,
main.products > section.products,
main.contact > section.social_media,
main.about > section.about {
    padding: 100px 50px;
}

@media (max-width: 425px) {

    main.home > section.new_arrivals,
    main.home > section.we_recommend_you,
    main.home > section.our_specialities,
    main.products > section.products,
    main.contact > section.social_media,
    main.about > section.about {
        padding: 20px;
    }
}

main.products > section.filters,
main.cart > section.cart,
main.contact > section.contact {
    padding: 100px 50px 0px 50px;
}

@media (max-width: 425px) {

    main.products > section.filters,
    main.cart > section.cart,
    main.contact > section.contact {
        padding: 20px 20px 0px 20px;
    }
}

main.cart > section.total {
    padding: 50px 50px 100px 50px;
}

@media (max-width: 425px) {

    main.cart > section.total {
        padding: 20px;
    }
}

main.home > section.new_arrivals > h2,
main.home > section.we_recommend_you > h2,
main.home > section.our_specialities > h2,
main.products > section.filters > h2,
main.cart > section.cart > h2,
main.contact > section.contact > h2,
main.about > section.about > h2 {
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1px;
    color: #444;
}

main.home > section.new_arrivals > p,
main.home > section.we_recommend_you > p,
main.home > section.our_specialities > p,
main.products > section.filters > p,
main.cart > section.cart > p,
main.contact > section.contact > p,
main.about > section.about > p {
    max-width: 800px;
    margin-bottom: 50px;
    font-size: 18px;
    text-align: center;
    color: #444;
}

@media (max-width: 425px) {

    main.home > section.new_arrivals > h2,
    main.home > section.we_recommend_you > h2,
    main.home > section.our_specialities > h2,
    main.products > section.filters > h2,
    main.cart > section.cart > h2,
    main.contact > section.contact > h2,
    main.about > section.about > h2 {
        font-size: 30px;
    }

    main.home > section.new_arrivals > p,
    main.home > section.we_recommend_you > p,
    main.home > section.our_specialities > p,
    main.products > section.filters > p,
    main.cart > section.cart > p,
    main.contact > section.contact > p,
    main.about > section.about > p {
        font-size: 14px;
        text-align: justify;
        margin-bottom: 20px;
    }
}

main.home > section.new_arrivals > div,
main.home > section.we_recommend_you > div,
main.home > section.our_specialities > div,
main.products > section.filters > form,
main.products > section.products > div {
    width: 100%;
}

main.cart > section.total > div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 425px) {

    main.cart > section.total > div {
        align-items: center;
    }
}

main.cart > section.total > div > h2 {
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1px;
    color: #444;
}

main.cart > section.total > div > a {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #000;
    font-size: 14px;
    color: #fff;
}

main.cart > section.total > div > a:hover {
    color: #fff !important;
}

main.home > section.new_arrivals > div > div,
main.home > section.we_recommend_you > div > div,
main.home > section.our_specialities > div > div,
main.products > section.products > div > div {
    width: 100%;
    margin-bottom: 50px;
}

main.home > section.new_arrivals > div > div:last-child,
main.home > section.we_recommend_you > div > div:last-child,
main.home > section.our_specialities > div > div:last-child,
main.products > section.products > div > div:last-child {
    margin-bottom: 0px;
}

main.home > section.new_arrivals > div > div::after,
main.home > section.we_recommend_you > div > div::after,
main.home > section.our_specialities > div > div::after,
main.products > section.products > div > div::after {
    content: '';
    display: block;
    clear: both;
}

main.products > section.filters > form {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 425px) {

    main.products > section.filters > form {
        flex-direction: column;
    }
}

main.products > section.filters > form > fieldset {
    width: auto;
    height: 85px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0px 15px;
}

@media (max-width: 425px) {

    main.products > section.filters > form > fieldset {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 20px 0px;
    }

    main.products > section.filters > form > fieldset:last-child {
        margin-bottom: 0px;
    }
}

main.products > section.filters > form > fieldset > h2 {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #444;
}

main.products > section.filters > form > fieldset > select,
main.products > section.filters > form > fieldset .chosen-container,
main.products > section.filters > form > fieldset .chosen-choices {
    padding: 0px 15px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 5px;
}

main.products > section.filters > form > fieldset > select,
main.products > section.filters > form > fieldset .chosen-container {
    width: 400px !important;
    height: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee !important;
}

@media (max-width: 425px) {

    main.products > section.filters > form > fieldset > select,
    main.products > section.filters > form > fieldset .chosen-container {
        width: 100% !important;
    }
}

main.products > section.filters > form > fieldset .chosen-choices {
    width: 100% !important;
    padding: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: none !important;
}

main.products > section.filters > form > fieldset > button {
    width: 100px;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
}

main.products > section.filters > form > fieldset > button:hover {
    color: #fff !important;
}

main.contact > section.social_media > a {
    width: calc(800px / 4);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
}

@media (max-width: 425px) {

    main.contact > section.social_media > a {
        margin-bottom: 20px;
    }

    main.contact > section.social_media > a:last-child {
        margin-bottom: 0px;
    }
}

main.contact > section.social_media > a > i {
    font-size: 40px;
    margin-bottom: 20px;
    color: #000;
}

main.contact > section.social_media > a > span {
    font-size: 14px;
    color: #000;
}

main.about > section.about > figure,
main.about > section.about > figure > img {
    width: auto;
    height: 200px;
}

/*  */

main.home > section.new_arrivals > div > div > article,
main.home > section.we_recommend_you > div > div > article,
main.home > section.our_specialities > div > div > article,
main.products > section.products > div > div > article {
    float: left;
    padding: 0px 25px;
    box-sizing: border-box;
}

main.home > section.new_arrivals > div > div > article {
    width: calc(100% / 4);
}

main.home > section.we_recommend_you > div > div > article,
main.home > section.our_specialities > div > div > article,
main.products > section.products > div > div > article {
    width: calc(100% / 3);
}

@media (max-width: 425px) {

    main.home > section.new_arrivals > div > div > article,
    main.home > section.we_recommend_you > div > div > article,
    main.home > section.our_specialities > div > div > article,
    main.products > section.products > div > div > article {
        width: 100%;
        float: none;
        margin-bottom: 20px;
        margin-top: 0px !important;
        padding: 0px;
    }

    main.home > section.new_arrivals > div > div > article:last-child,
    main.home > section.we_recommend_you > div > div > article:last-child,
    main.home > section.our_specialities > div > div > article:last-child,
    main.products > section.products > div > div > article:last-child {
        margin-bottom: 0px;
    }
}

main.home > section.new_arrivals > div > div > article,
main.home > section.our_specialities > div > div > article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main.cart > section.cart > div > article {
    width: 100%;
    margin-bottom: 20px;
}

main.home > section.we_recommend_you > div > div > article::after,
main.products > section.products > div > div > article::after,
main.cart > section.cart > div > article::after {
    content: '';
    display: block;
    clear: both;
}

main.cart > section.cart > div > article:last-child {
    margin-bottom: 0px;
}

main.home > section.new_arrivals > div > div > article > figure {
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

main.home > section.we_recommend_you > div > div > article > figure,
main.products > section.products > div > div > article > figure,
main.cart > section.cart > div > article > figure {
    width: 150px;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width: 425px) {

    main.home > section.we_recommend_you > div > div > article > figure,
    main.products > section.products > div > div > article > figure,
    main.cart > section.cart > div > article > figure {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
}

main.home > section.we_recommend_you > div > div > article > figure,
main.products > section.products > div > div > article > figure {
    height: 200px;
}

main.cart > section.cart > div > article > figure {
    height: 150px;
}

main.home > section.our_specialities > div > div > article > figure {
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

main.home > section.new_arrivals > div > div > article > figure > img,
main.home > section.we_recommend_you > div > div > article > figure > img,
main.home > section.our_specialities > div > div > article > figure > img,
main.products > section.products > div > div > article > figure > img,
main.cart > section.cart > div > article > figure > img {
    width: 100%;
    height: auto;
    min-height: 100%;
}

main.home > section.new_arrivals > div > div > article > figure > a,
main.home > section.we_recommend_you > div > div > article > figure > a,
main.products > section.products > div > div > article > figure > a {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    font-size: 18px;
    color: #fff;
    opacity: 0;
    transition: 400ms;
}

main.home > section.new_arrivals > div > div > article > figure:hover > a,
main.home > section.we_recommend_you > div > div > article > figure:hover > a,
main.products > section.products > div > div > article > figure:hover > a {
    opacity: 1;
}

main.home > section.new_arrivals > div > div > article > figure > a:hover,
main.home > section.we_recommend_you > div > div > article > figure > a:hover,
main.products > section.products > div > div > article > figure > a:hover {
    color: #fff !important;
}

main.home > section.we_recommend_you > div > div > article > div,
main.products > section.products > div > div > article > div,
main.cart > section.cart > div > article > div {
    width: calc(100% - 150px);
    height: 100%;
    float: right;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    box-sizing: inherit;
}

@media (max-width: 425px) {

    main.home > section.we_recommend_you > div > div > article > div,
    main.products > section.products > div > div > article > div,
    main.cart > section.cart > div > article > div {
        width: 100%;
        float: none;
        align-items: center;
        padding-left: 0px;
    }
}

main.home > section.new_arrivals > div > div > article > h4,
main.home > section.we_recommend_you > div > div > article > div > h4,
main.home > section.our_specialities > div > div > article > h4,
main.products > section.products > div > div > article > div > h4,
main.cart > section.cart > div > article > div > h4 {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #444;
}

main.home > section.new_arrivals > div > div > article > span,
main.home > section.we_recommend_you > div > div > article > div > span,
main.products > section.products > div > div > article > div > span,
main.cart > section.cart > div > article > div > span,
main.home > section.our_specialities > div > div > article > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #444;
}

main.home > section.new_arrivals > div > div > article > span {
    font-size: 16px;
    margin-bottom: 20px;
}

main.home > section.we_recommend_you > div > div > article > div > span,
main.products > section.products > div > div > article > div > span {
    font-size: 14px;
    margin-bottom: 10px;
}

main.cart > section.cart > div > article > div > span {
    font-size: 16px;
    margin-bottom: 5px;
}

main.home > section.new_arrivals > div > div > article > p {
    font-size: 14px;
    text-align: center;
    color: #757575;
    margin-bottom: 20px;
}

main.home > section.we_recommend_you > div > div > article > div > p,
main.products > section.products > div > div > article > div > p {
    font-size: 12px;
    color: #757575;
    margin-bottom: 10px;
}

main.home > section.new_arrivals > div > div > article > a,
main.home > section.we_recommend_you > div > div > article > div > a,
main.products > section.products > div > div > article > div > a,
main.cart > section.cart > div > article > div > a {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    box-sizing: border-box;
    background-color: #e0e0e0;
    font-size: 14px;
    color: #444;
}

main.home > section.new_arrivals > div > div > article > a {
    border-radius: 50px;
}

main.home > section.we_recommend_you > div > div > article > div > a,
main.products > section.products > div > div > article > div > a,
main.cart > section.cart > div > article > div > a {
    border-radius: 5px;
}

main.home > section.new_arrivals > div > div > article > a > i,
main.home > section.we_recommend_you > div > div > article > div > a > i,
main.products > section.products > div > div > article > div > a > i,
main.cart > section.cart > div > article > div > a > i {
    margin-right: 5px;
    font-size: 18px;
}

main.cart > section.cart > div > div {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border-radius: 5px;
}

main.cart > section.cart > div > div > p {
    font-size: 18px;
    text-align: center;
    color: #444;
}

/*  */

section[data-modal="details"].modal > div > main > form[name="details"],
section[data-modal="details"].modal > div > main > form[name="details"] > div,
section[data-modal="payment"].modal > div > main > form[name="payment"] {
    display: flex;
}

section[data-modal="details"].modal > div > main > form[name="details"],
section[data-modal="details"].modal > div > main > form[name="details"] > div {
    align-items: flex-start;
    justify-content: flex-start;
}

section[data-modal="details"].modal > div > main > form[name="details"] {
    flex-direction: column;
}

section[data-modal="payment"].modal > div > main > form[name="payment"] {
    align-items: flex-start;
    justify-content: center;
}

section[data-modal="details"].modal > div > main > form[name="details"],
section[data-modal="payment"].modal > div > main > form[name="payment"] {
    padding-top: 100px;
    box-sizing: border-box;
}

section[data-modal="details"].modal > div > main > form[name="details"] > div {
    width: 100%;
    margin-bottom: 50px;
}

section[data-modal="details"].modal > div > main > form[name="details"] > div:last-child {
    margin-bottom: 0px;
}

section[data-modal="payment"].modal > div > main > form[name="payment"] > div,
main.contact > section.contact > form[name="contact"] > div {
    width: 800px;
}

section[data-modal="details"].modal > div > main > form[name="details"] > div > figure {
    width: calc((100% / 6) - 10px);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    border-radius: 10px;
    overflow: hidden;
}

section[data-modal="details"].modal > div > main > form[name="details"] > div > figure > img {
    width: 100%;
    height: auto;
}

section[data-modal="details"].modal > div > main > form[name="details"] > h2 {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #444;
}

section[data-modal="details"].modal > div > main > form[name="details"] > span {
    font-size: 14px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #444;
}

section[data-modal="details"].modal > div > main > form[name="details"] > p {
    font-size: 16px;
    margin-bottom: 10px;
}

section[data-modal="details"].modal > div > main > form[name="details"] > div > fieldset {
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    margin-right: 15px;
}

section[data-modal="payment"].modal > div > main > form[name="payment"] > div > div > fieldset,
main.contact > section.contact > form[name="contact"] > div > div > fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

section[data-modal="payment"].modal > div > main > form[name="payment"] > div > div:last-child > fieldset,
main.contact > section.contact > form[name="contact"] > div > div:last-child > fieldset {
    margin-bottom: 0px;
}

section[data-modal="details"].modal > div > main > form[name="details"] > div > fieldset > h4,
section[data-modal="payment"].modal > div > main > form[name="payment"] > div > div > fieldset > h4,
main.contact > section.contact > form[name="contact"] > div > div > fieldset > h4 {
    width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
    color: #444;
}

section[data-modal="details"].modal > div > main > form[name="details"] > div > fieldset > h4 {
    font-size: 24px;
}

section[data-modal="payment"].modal > div > main > form[name="payment"] > div > div > fieldset > h4,
main.contact > section.contact > form[name="contact"] > div > div > fieldset > h4 {
    font-size: 18px;
}

section[data-modal="details"].modal > div > main > form[name="details"] > div > fieldset > select,
section[data-modal="payment"].modal > div > main > form[name="payment"] > div > div > fieldset > select,
section[data-modal="details"].modal > div > main > form[name="details"] > div > fieldset > input,
section[data-modal="payment"].modal > div > main > form[name="payment"] > div > div > fieldset > input,
main.contact > section.contact > form[name="contact"] > div > div > fieldset > input {
    height: 50px;
    padding: 0px 15px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 5px;
    background-color: #eee;
}

section[data-modal="details"].modal > div > main > form[name="details"] > div > fieldset > select,
section[data-modal="details"].modal > div > main > form[name="details"] > div > fieldset > input {
    width: 200px;
}

section[data-modal="payment"].modal > div > main > form[name="payment"] > div > div > fieldset > select,
section[data-modal="payment"].modal > div > main > form[name="payment"] > div > div > fieldset > input,
main.contact > section.contact > form[name="contact"] > div > div > fieldset > input {
    width: 100%;
}

section[data-modal="details"].modal > div > main > form[name="details"] > div > button,
section[data-modal="details"].modal > div > main > form[name="details"] > div > a {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    padding: 0px 20px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
}

section[data-modal="details"].modal > div > main > form[name="details"] > div > button:hover,
section[data-modal="details"].modal > div > main > form[name="details"] > div > a:hover {
    color: #fff !important;
}

section[data-modal="details"].modal > div > main > form[name="details"] > div > button > i {
    margin-right: 10px;
}

section[data-modal="payment"].modal > div > main > form[name="payment"] > div > div > fieldset > a,
main.contact > section.contact > form[name="contact"] > div > div > fieldset > button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
}

section[data-modal="payment"].modal > div > main > form[name="payment"] > div > div > fieldset > a {
    margin-bottom: 5px;
}

section[data-modal="payment"].modal > div > main > form[name="payment"] > div > div > fieldset > a:last-child {
    margin-bottom: 0px;
}

section[data-modal="payment"].modal > div > main > form[name="payment"] > div > div > fieldset > a:hover,
main.contact > section.contact > form[name="contact"] > div > div > fieldset > button:hover {
    color: #fff !important;
}

@media (max-width: 425px) {

    section.modal.fullscreen > div.content {
        height: auto !important;
    }

    section[data-modal="details"].modal > div > main > form[name="details"] {
        align-items: center;
    }

    section[data-modal="details"].modal > div > main > form[name="details"] > div {
        flex-direction: column;
    }

    section[data-modal="details"].modal > div > main > form[name="details"] > div:first-child {
        flex-direction: row;
    }

    section[data-modal="details"].modal > div > main > form[name="details"] > div > figure {
        height: 100px;
    }

    section[data-modal="details"].modal > div > main > form[name="details"] > div > figure:last-child {
        margin-bottom: 0px;
    }

   section[data-modal="details"].modal > div > main > form[name="details"] > div > fieldset {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    section[data-modal="details"].modal > div > main > form[name="details"] > div > fieldset:last-child {
        margin-bottom: 0px;
    }

    section[data-modal="details"].modal > div > main > form[name="details"] > h2,
    section[data-modal="details"].modal > div > main > form[name="details"] > span,
    section[data-modal="details"].modal > div > main > form[name="details"] > p,
    section[data-modal="details"].modal > div > main > form[name="details"] > div {
        margin-top: 0px !important;
        margin-bottom: 20px;
    }

    section[data-modal="details"].modal > div > main > form[name="details"] > div > fieldset > select,
    section[data-modal="details"].modal > div > main > form[name="details"] > div > fieldset > input,
    section[data-modal="details"].modal > div > main > form[name="details"] > div > button,
    section[data-modal="details"].modal > div > main > form[name="details"] > div > a {
        width: 100%;
        margin: 0px;
    }

    section[data-modal="details"].modal > div > main > form[name="details"] > div > a {
        margin-bottom: 20px;
    }

    section[data-modal="payment"].modal > div > main > form[name="payment"] {
        padding-top: 0px;
    }

    section[data-modal="payment"].modal > div > main > form[name="payment"] > div,
    main.contact > section.contact > form[name="contact"] > div {
        width: 100%;
    }
}

/*  */

footer.menu {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    box-sizing: border-box;
    background-color: #000;
}

footer.menu > p,
footer.menu > p > a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 425px)  {

    footer.menu {
        height: auto;
        flex-direction: column;
        padding: 20px;
    }

    footer.menu > p,
    footer.menu > p > a {
        text-align: center;
    }
}