
main.home > section.home {
    width: 100%;
    height: 100vh;
    position: relative;
}

main.home > section.home::after {
    content: '';
    display: block;
    clear: both;
}

main.home > section.home > #home_left,
main.home > section.home > #home_right {
    width: 50%;
    height: 100vh;
}

main.home > section.home > #home_left {
    float: left;
}

main.home > section.home > #home_right {
    float: right;
}

main.home > section.home > #home_left div.item,
main.home > section.home > #home_right div.item {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main.home > section.home > div.logotype {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0px 50px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 98;
}

main.home > section.home > div.logotype > h1 {
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #fff;
}

main.home > section.home > div.logotype > h3 {
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 200;
    color: #fff;
}

/*  */

main.home > section.categories {
    width: 100%;
}

main.home > section.categories::after {
    content: '';
    display: block;
    clear: both;
}

main.home > section.categories > article {
    width: calc(100% / 3);
    height: 400px;
    float: left;
    position: relative;
}

main.home > section.categories > article > figure {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
}

main.home > section.categories > article > figure > img {
    width: 100%;
    height: auto;
}

main.home > section.categories > article > div {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
}

main.home > section.categories > article > div > h4 {
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1px;
    color: #fff;
}

main.home > section.categories > article > div > a {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
}

main.home > section.categories > article > div > a > i {
    margin-right: 5px;
    font-size: 18px;
}

/*  */

main.home > section.view_all_shop,
main.home > section.about_us {
    width: 100%;
    height: 100vh;
    background-color: #000;
}

main.home > section.view_all_shop::after ,
main.home > section.about_us::after {
    content: '';
    display: block;
    clear: both;
}

main.home > section.view_all_shop > div,
main.home > section.about_us > div {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 100px 50px;
    box-sizing: border-box;
}

main.home > section.view_all_shop > div > h2,
main.home > section.about_us > div > h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 200;
    color: #fff;
}

main.home > section.view_all_shop > div > h3,
main.home > section.about_us > div > h3 {
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #fff;
}

main.home > section.view_all_shop > div > p,
main.home > section.about_us > div > p {
    max-width: 800px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 200;
    color: #fff;
}

main.home > section.view_all_shop > div > a,
main.home > section.about_us > div > a {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
}

main.home > section.view_all_shop > div > a > i,
main.home > section.about_us > div > a > i {
    margin-right: 5px;
    font-size: 18px;
}

main.home > section.view_all_shop > figure,
main.home > section.about_us > figure {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0px;
}

main.home > section.view_all_shop > figure > img {
    width: 100%;
    height: auto;
}

main.home > section.about_us > figure > img {
    width: auto;
    height: 100%;
}

/*  */

main.home > section.contact_us {
    width: 100%;
    height: 100vh;
    position: relative;
}

main.home > section.contact_us > figure {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
}

main.home > section.contact_us > figure > img {
    width: 100%;
    height: auto;
}

main.home > section.contact_us > div {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
}

main.home > section.contact_us > div > div {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0px 100px 50px 100px;
    box-sizing: border-box;
}

main.home > section.contact_us > div > div > span {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
}

main.home > section.contact_us > div > div > span > i {
    margin-right: 10px;
    font-size: 30px;
}

main.home > section.contact_us > div > div > a {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 0px 20px;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
}
